{% extends 'base.html' %}

{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock base_head %}


{% block content %}

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <img src="{% static 'image/island.jpg' %}" style="height: 300px; width:400px">

            <h1>{{title}}</h1>
            <p>{{content}}</p>
        </div>
        <div class="col-3">

        </div>
    </div>

{% endblock content %}